################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grupo Beira Mar Web Application/bin
/Grupo Beira Mar Web Application/obj
/.vs/Grupo Beira Mar Web Application/v16
/.vs/Grupo_Beira_Mar_Web_Application/v16
/Grupo_Beira_Mar_Web_Application/bin
/Grupo_Beira_Mar_Web_Application/obj
/.vs/Grupo_Beira_Mar_Web_Application
